.list-group li {
padding-left: 0;

}

.container {
  padding-top: 7%;
}

#titulo {
  padding-bottom: 6%;
}

.list-group-item, tab-pane:hover {
  cursor: pointer;
}

.idiomas {
  position: absolute;
  top: 3%;
  right: 3%;
}

.idiomas a {
  color: black;
}

ul.tab-content {
  padding-left: 10px;
}

.activo {
  font-weight: bold;
}

li {
  font-weight: 300;
}

figure {
	background: #fff;
}
figure:hover+span {
	opacity: 1;
}

.hoverTom figure img {
	-webkit-filter: grayscale(0) blur(0);
	filter: grayscale(0) blur(0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hoverTom figure:hover img {
	-webkit-filter: grayscale(100%) blur(3px);
	filter: grayscale(100%) blur(3px);
	cursor: pointer;
}

